* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  cursor: default;
}

:root {
  --primary: #fefaf6;
  --secondary: #102b3f;
  --gradiant: radial-gradient(#32495a, var(--secondary));
}

body {
  background-color: var(--primary);
}

.bold {
  font-weight: bold;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, min-content);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "heading-container heading-container"
    "hero-text-container hero-text-container"
    "get-it-icons-container get-it-icons-container"
    "acoustic-guitar-container electric-guitar-container"
    "acoustic-guitar-container electric-guitar-container";
  margin: 1rem;
  background: var(--gradiant);
  color: #fff;
  text-align: center;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.hero-heading-container {
  grid-area: heading-container;
  margin-top: 1rem;
}

.larger-heading {
  font-size: 50px;
}

.smaller-heading {
  font-size: 30px;
  transform: translateY(-10px);
}

.hero-text-container {
  grid-area: hero-text-container;
}

.hero-text {
  font-size: 40px;
}

.get-it-icons-container {
  grid-area: get-it-icons-container;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 200px;
  margin: 0.5rem 0;
}

.google-icon {
  margin-top: 3rem;
}

.apple-icon {
  margin-bottom: 3rem;
}

.acoustic-guitar-container {
  grid-area: acoustic-guitar-container;
  align-self: flex-end;
}

.electric-guitar-container {
  grid-area: electric-guitar-container;
}

.guitar {
  width: 100px;
}

@media screen and (min-width: 650px) {
  .hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, min-content);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . hero-heading-container hero-heading-container . ."
      ". . hero-heading-container hero-heading-container . ."
      ". hero-text-container hero-text-container hero-text-container hero-text-container ."
      "acoustic-guitar-container . get-it-icons-container get-it-icons-container . electric-guitar-container"
      "acoustic-guitar-container . get-it-icons-container get-it-icons-container . electric-guitar-container";
  }

  .hero-heading-container {
    grid-area: hero-heading-container;
    justify-self: center;
  }

  .larger-heading {
    font-size: 80px;
  }

  .smaller-heading {
    font-size: 60px;
    transform: translateY(-20px);
  }

  .hero-text-container {
    grid-area: hero-text-container;
  }

  .hero-text {
    font-size: 60px;
  }

  .acoustic-guitar-container {
    grid-area: acoustic-guitar-container;
  }

  .electric-guitar-container {
    grid-area: electric-guitar-container;
  }

  .guitar {
    width: 200px;
  }

  .acoustic-guitar {
    margin-left: 1rem;
  }

  .electric-guitar {
    margin-right: 1rem;
  }

  .get-it-icons-container {
    grid-area: get-it-icons-container;
  }

  .icon {
    width: 300px;
    cursor: pointer;
  }
}

/* Footer */
.line-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.line-fill {
  width: 90vw;
  height: 4px;
  background-color: var(--secondary);
  border-radius: 12px;
}

.footer-container {
  background-color: var(--secondary);
  margin: 1rem;
  padding: 2rem;
  color: #fff;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.footer-flex-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  text-align: center;
}

.copyright-text {
  text-align: center;
  margin: 1rem 0;
}

@media screen and (min-width: 700px) {
  .footer-flex-container {
    justify-items: center;
  }

  .footer-link {
    cursor: pointer;
  }

  .footer-link:hover {
    color: rgb(230, 230, 230);
  }

  .footer-link:active {
    color: rgb(220, 220, 220);
  }
}
